body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

.game-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px;
}

a {
  background: #333;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background: #555;
}

